<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2">
</head>
<body>

<div class="container">
    <img src="{{ url_for('static', filename='logo.png') }}" class="logo">

    <h2>Welcome to Choudhary University of Chandigarh</h2>

    <a href="/register" class="btn primary">Registration Form Fill Up</a>

    <button class="btn danger">Exit</button>
</div>

</body>
</html>
