<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container card">
    <h2>Registration Successful 🎉</h2>

    <p><b>Name:</b> {{ name }}</p>
    <p><b>Email:</b> {{ email }}</p>
    <p><b>Phone:</b> {{ phone }}</p>

    <a href="/">
        <button class="btn primary">Go Home</button>
    </a>
</div>

</body>
</html>


